.env
testing_tools

downloads
image_input
generated_audio
generated_videos

__pycache__

client_secret.json
token.json

downloads/testanto.xlsx
processed_emails.txt
video_input
final_story.mp4
intro.mp4
saranno_audio.mp3
test_assembly.py
